@font-face {
    font-family: 'Gotham Pro';
    src: url(..//font/GothaProBol.otf) format('OpenType Fonte');
    font-family: 'Gotham Pro Light';
    src: url(..//font/GothaProLig.otf) format('OpenType Fonte');
}
body{
    display: grid;
    //grid-template: 180px 1fr 420px/150px 1fr 150px;
    //grid-gap: 30px 30px;
    //grid-template-areas:
        //"header header header";
        //"main main main";
        //"footer footer footer";
    width: 80%;
    margin: auto;
    overflow-x:hidden;
}
                                   /*HEADER*/
header{
    grid-area: header;
    grid-column:2/3;
    grid-row:1/2;
    background-color: #ffffff;
    position: relative;
}
.header-first{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    border-bottom: 1px solid black;
    position: relative;
}
.header-first::after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
    border-bottom: 1px solid black;
}
.header-first__social{
    margin-right: auto;
    vertical-align: middle;
    padding: 15px 15px 15px 0;
}
.header-first__social--img{
    width: 20px;
    vertical-align: middle;
    padding-left: 5px;
}
.header-first__enter{
    vertical-align: middle;
}
.header-first__enter--img{
    width: 20px;
    vertical-align: middle;
    padding: 15px 15px 15px 0;
}
.header-first__enter--a{
    font-size: 12px;
    text-decoration: none;
    color: black;
    text-transform: uppercase;
    font-family: 'Gotham Pro';
}
.header-first__enter--a:hover{
    color: #339933;
}
.header-first__enter--a:focus{
    color: #939893;
}
.header-second{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.header-second__name-logo--img{
    width: 110px;
    vertical-align: middle;
}
.header-second__name-logo--img:hover{
    cursor: pointer;
}
.header-second__name-logo--span{
    font-size: 18px;
    color: #339933;
    text-transform: uppercase;
    font-family: 'Gotham Pro';
    vertical-align: middle;
}
.header-second__name-logo--span:hover{
    color: #bababa;
}
.header-second__name-logo--p{
    font-size: 15px;
    color: #bababa;
    font-family: 'Gotham Pro';
    margin-left: 115px;
    margin-top: -40px;
}
.header-second__name-logo--p:hover{
    color: #339933;
    transition: 0.3s;
}
.header-second__search{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    border: 1px solid;
    margin-top: 60px;
}
.header-second__search--input{
    box-sizing: border-box;
    width: 500px;
    padding: 5px;
    text-align: left;
    font-family: 'Gotham Pro';
    border: none;
    background: #ffffff;
}
.header-second__search--input:hover{
    background: #f0f0f0;
}
.header-second__search--input:focus{
    background: rgb(188, 211, 188);
    border: 1px solid black;
}
.header-second__search--button{
    background: #ffffff;
    border: none;
}
.header-second__search--button:hover{
    background: rgba(51, 153, 51, 0.83);
}
.header-second__search--button:focus{
    background: #339933;
}
.header-second__search--img{
    width: 15px;
    outline: none;
    text-decoration: none;
}
.header-second__search--img:hover{
    cursor: pointer;
}
.header-second__basket{
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    margin-top: 60px;
}
.header-second__basket--img{
    width: 35px;
    height: 35px;
    vertical-align: middle;
}
.header-second__basket--img:hover{
    cursor: pointer;
}
.header-second__basket--span{
    vertical-align: middle;
    margin-left: 15px;
    font-family: 'Gotham Pro';
    font-size: 15px;
}
                             /*MENU*/
.headernav-menu1__list{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 10px;
    background: #339933;
    list-style-type: none;
    position: relative;
    margin-top: 20px;
}
.headernav-menu1__list::after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
.headernav-menu1__list--li{
    font-family: 'Gotham Pro light';
    font-size: 18px;
    flex-basis:auto;
    width: 100%;
    color: white;
    text-align: center;
}
.headernav-menu1__list--li:not(:last-child){
    border-right: 2px solid;
}
.headernav-menu1__list--a{
    line-height: 40px;
    color: inherit;
    text-decoration: none;
}
.headernav-menu1__list--a:hover{
    color: black;
}
.headernav-menu1__list--a:focus{
    color: black;
}
.headernav-menu1 .menu_toggle{
    display: none;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Gotham Pro light';
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.headernav-menu1 .menu_toggle{
    margin: 0 auto;
    background: #339933;
}
.menu_check, .menu_toggle{
    display: none;
}

                                     /*MAIN*/
main{
    grid-area: main;
    grid-column:2/3;
    grid-row:2/3;
    background: #ffffff;
}

                                     /*SLIDER*/
.main-slides{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 0 auto;
    position: relative;
    margin-top: 20px;
}
.main-slides__num--img{
    width: 100%;
    position: absolute;
    right: 0;
    opacity: 0;
    transition: opacity 0.5s;
}
.main-slides__num{
    height: 450px;
}
.main-slides__num--img.active {
    opacity: 1;
}
.main-slides__button-but--prev, .main-slides__button-but--next{
    background: #ffffff;
    border: none;
    width: 50px;
    display: block;
}
.main-slides__button-but--next{
    position: absolute;
    right: 0;
}
                          /*SALES*/
.main-sales{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.main-sales__section{
    background: #3e8d1e;
    width: 350px;
    padding: 20px;
    text-align: center;
    color: #ffffff;
}
.main-sales__section:hover{
    background: #48a323;
}
.main-sales__section--h2{
    font-family: 'Gotham Pro';
    font-size: 30px;
    margin-bottom: 20px;
}
.main-sales__section--span{
    font-family: 'Gotham Pro Light';
    font-size: 18px;
}
.main-sales__section--a{
    font-family: 'Gotham Pro Light';
    font-size: 18px;
    text-transform: uppercase;
    color: #ffffff;
}
.main-sales__section--a:hover{
    text-decoration: none;
}
                                     /*CONTENT*/
.content{
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
    margin-top: 40px;
    box-sizing: border-box;
}
.content__block{
    border: 0.5px solid #bababa;
    width: calc(20% - 10px);
    margin: 10px 69px 10px 0;
    text-align: center;
    position: relative;
}
.content__block:hover{
    background: #ebebeb;
    cursor: pointer;
}
.content__block:focus{
    border: 1px solid #bababa;
}
.content__block--figure{
    margin: 0 auto;
    width: 100%;
}
.content__block--img{
    width: 100%;
}
.content__block--figcaption{
    font-family: 'Gotham Pro Light';
    font-size: 22px;
}
.content__block--span{
    font-family: 'Gotham Pro Light';
    font-size: 16px;
}
.content__block--p{
    color: #3e8d1e;
    font-family: 'Gotham Pro';
    font-size: 20px;
    margin: 10px;
}
.content__block--p:hover{
    text-decoration: underline;
}
.content__block-aside{
    position: absolute;
    top :0;
    right: -20%;
}
.content__block-aside--button{
    width: 45px;
    display: block;
    margin-bottom: 5px;
}
.content__block-aside--button:hover{
    background: #ebebeb;
    cursor: pointer;
}

                                     /*FOOTER*/
footer{
    grid-area: footer;
    grid-column:2/3;
    grid-row: 3/4;
    background: #2e302f;
    position: relative;
}
footer::after{
    content: "";
    display: block;
    position: absolute;
    height: 100%;
    width: 100vw;
    background-color: inherit;
    top: 0;
    z-index: -1;
    margin: auto;
    left: -50vw;
    right: -50vw;
}
.footernav-menu2__list{
    display: flex;
    flex-flow: row;
    justify-content: flex-start;
    padding: 10px;
    border-bottom: 1px solid white;
}
.footernav-menu2__list--li{
    font-family: 'Gotham Pro light';
    font-size: 18px;
    width: 100%;
    color: white;
    text-align: center;
}
.footernav-menu2__list--a{
    line-height: 40px;
    color: inherit;
    text-decoration: none;
}
.footernav-menu2__list--a:hover{
    cursor: pointer;
    color: #3e8d1e;
}
.footernav-menu2__list--a:focus{
    color: #787b77;
}
.footer-link{
    display: flex;
    flex-direction: row wrap;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: stretch;
}
.footer-link__first-part{
    margin: 10px;
    padding: 10px;
}
.footer-link__first-part--a{
    display: block;
    font-family: 'Gotham Pro light';
    font-size: 20px;
    color: white;
    padding: 10px;
}
.footer-link__first-part--a:hover{
    cursor: pointer;
    color: #3e8d1e;
}
.footer-link__first-part--a:focus{
    color: #787b77;
}
.footer-social{
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
}
.footer-social-link{
    display: flex;
    flex-direction: row wrap;
    justify-content: space-around;
}
.footer-social__post--span{
    margin: 0px 70px 0px;
}
.footer-social__numbers--span, .footer-social__post--span{
    display: flex;
    flex-direction: row wrap;
    font-family: 'Gotham Pro light';
    font-size: 19px;
    color: white;
    padding: 10px;
}
.footer-social__numbers--span:hover{
    cursor: pointer;
    color: #3e8d1e;
}
.footer-social__numbers--span:focus{
    color: #787b77;
}
.footer-social__post--span:hover{
    cursor: pointer;
    color: #3e8d1e;
}
.footer-social__post--span:focus{
    color: #787b77;
}
.footer-social__post--span{
    display: block;
}
.footer-social__links{
    display: flex;
    flex-direction: row wrap;
    width: 50%;
}
.footer-social__links--a{
    margin-right: 90px;
    padding: 10px;
}
.footer-social__links--img{
    width: 50%;
}
.footernav-menu2 .menu_toggle2{
    display: none;
    line-height: 50px;
    font-size: 18px;
    cursor: pointer;
    font-family: 'Gotham Pro light';
    font-size: 18px;
    color: #ffffff;
    text-align: center;
    margin: 0 auto;
}
.menu_check2 .menu_toggle2{
    margin: 0 auto;
    background: #2e302f;
}
.menu_check2, .menu_toggle2{
    display: none;
}
                       /*@media screens*/

@media screen and (max-width: 1400px) {
    header {
        grid-column:1/4;
    }
    main{
        grid-column:1/4;
    }
    footer{
        grid-column:1/4;
    }
    .content {
        justify-content: space-around;
    }
}
@media screen and (max-width: 1300px) {
    .main-slides{
        margin-top: 0;
    }
    .header-second{
        flex-flow: column;
    }
    .main-slides{
        margin-top: 150px;
    }
    .footer-social__links{
        margin: auto;
    }
    .footer-social-link{
        flex-direction: column;
        margin-left: auto;
    }
    .footer-social__post--span{
         margin: 0;
     }

    body {
        grid-template: 300px 1fr 730px/150px 1fr 150px;
    }
}
@media screen and (max-width: 1115px) {
    .content__block:nth-last-child(1n){
        width: calc(40% - 20px);
    }
    .footer-social__links--a{
        margin-right: 0;
    }
}
@media screen and (max-width: 975px) {
    .header-second{
        flex-direction: column;
    }
    .header-second__search, .header-second__basket{
        margin-top: 20px;
    }
    .main-slides{
        margin-top: 30px;
    }
    .main-slides__num{
        height: 300px;
    }
    body {
        grid-template: 300px 1fr 730px/150px 1fr 150px;
    }
}
@media screen and (max-width: 925px) {
    .footer-link__first-part{
        margin: 0;
    }
}
@media screen and (max-width: 875px) {
    .footer-link__first-part--a{
        font-size: 18px;
    }
    .content__block:nth-last-child(1n){
        width: calc(40% - 15px);
    }
    .content__block-aside{
        right: -15%;
    }

}
@media screen and (max-width: 775px) {
    .footer-link__first-part{
        margin: 0px;
        padding: 0px;
    }
}
@media screen and (max-width: 695px) {
    .content__block:nth-last-child(1n){
        width: calc(80% - 5px);
    }
    .main-sales{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }
    .main-sales__section{
        width: 90%;
        margin-top: 10px;
    }
    .main-slides{
        margin-top: 160px;
    }
    .main-slides__num{
        height: 200px;
    }
    .content__block-aside{
        bottom:0;
        left: 0;
    }
    .footer-link__first-part {
        padding: 20px 0 20px 0;
    }
    .footer-link__first-part--a{
        padding: 0;
    }
    .footer-social__links{
        margin: 0 auto;
        justify-content: space-around;
    }
    .footer-social__links--a{
        margin-top: 20px;
    }
    body {
        grid-template: 220px 1fr 530px/150px 1fr 150px;
    }
}
@media screen and (max-width: 620px) {

    .footer-link, .footer-social{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }
    .footer-social{
        flex-direction: column;
    }
    .footer-social-link{
        flex-direction: column;
        margin: 0 auto;
    }
    .footer-link__first-part{
        margin-left: 5px;
    }
    .footer-social__post--span{
        margin: 0px;
    }
    .footer-social-link{
        display: flex;
        justify-content: center;
        align-items: flex-start;
        align-content: flex-start;
    }
    .footer-link__first-part--a{
        font-size: 20px;
    }
    .footer-link__first-part{
        padding: 20px;
    }
    body {
        grid-template: 220px 1fr 620px/150px 1fr 150px;
    }
}
@media screen and (max-width: 550px) {
    .header-second__search--input{
        width: 300px;
    }
    .header-second__search, .header-second__basket{
        margin-top: 10px;
    }
    .main-slides__button-but--prev, .main-slides__button-but--next{
        width: 20px;
    }
    .main-slides__num{
        height: 200px;
    }
    .main-slides__num{
        height: 150px;
    }
    .content__block:nth-last-child(2n){
        display: none;
    }
    .main-sales__section:nth-last-child(2n+1){
        display: none;
    }
    .content__block{
        width: auto;
    }
    .footer-link__first-part:nth-child(2n){
        display: none;
    }
    body {
        grid-template: 220px 1fr 600px/150px 1fr 150px;
    }
}
@media screen and (max-width: 385px) {
    .headernav-menu1 .menu_toggle{
        display: block;
    }
    .headernav-menu1 ul li{
        display: block;
    }
    .menu_check:checked + ul{
        display: block;
    }
    .headernav-menu1__list{
        display: none;
    }
    .header-first__social{
        
    }
    .header-second{
        position: relative;
    }
    .header-second__search{
        position: absolute;
        margin: auto;
    }
    .header-second__name-logo{
        margin-top: 50px;
    }
    .header-second__search--input{
        width: 200px;
    }
    .header-second__name-logo--img{
        display: none;
    }
    .header-second__name-logo--p{
        margin: 0;
    }
    .header-second__basket{
        margin-right: 50px;
    }
    body {
        grid-template: 180px 1fr 510px/150px 1fr 150px;
    }
    .footer-link{
        display: none;
    }
    .footernav-menu2 .menu_toggle2{
        display: block;
    }
    .footernav-menu2 ul li{
        display: block;
    }
    .menu_check2:checked + ul{
        display: block;
    }
    .footernav-menu2__list{
        display: none;
    }
    .main-slides__button-but--prev, .main-slides__button-but--next{
        display: none;
    }
    .content__block{
    }
}